<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1><%= category %> Products</h1>
    <% if(category != 'All') { %>
      <a href="/products/">All Products</a>
    <% } %>
    <a href="/products/create">Add Product</a>
   
    <form action="/products" method="get">
      <label for="category">Filter by category:</label>
      <select name="category" id="category" onchange="this.form.submit()">
        <option value="" <%= !category ? 'selected' : '' %>>All Category</option>
        <option value="Baju" <%= category === 'Baju' ? 'selected' : '' %>>Baju</option>
        <option value="Celana" <%= category === 'Celana' ? 'selected' : '' %>>Celana</option>
        <option value="Aksesoris" <%= category === 'Aksesoris' ? 'selected' : '' %>>Aksesoris</option>
        <option value="Jaket" <%= category === 'Jaket' ? 'selected' : '' %>>Jaket</option>
      </select>
    </form>

    <ul>
      <% for(let product of products) { %>
      <li>
        <a href="/products/<%= product.id %>">
            <%= product.name %> - <%= product.brand %></li>
         </a>
      <% } %>
    </ul>
  </body>
</html>
